# Utility Alias

alias ll='ls -la'
alias ....='cd ../..'
alias ..='cd ..'
alias k='kubectl'
alias cl='clear'
###################

# GIT alias

alias gcm='git commit -m'
alias gs='git status'
alias gd='git diff'
alias gco='git checkout'
alias gaa='git add -A'

###################

# Maven alias
alias mvnsa='mvn spotless:apply'
alias mvnsc='mvn spotless:check'

###################
